.kichthuoc {
    /*kích thước hộp bên trong*/
    background-color: brown;
    height: 50px;
    width: 50px;
    display: inline-block;
  margin: auto;
  margin: 20px 20px;
  }
  
  #div1 {
    /*kích thước hộp bên bên ngoài*/
    background-color: aqua;
    height: 90px;
    width: 280px;
    margin: auto;
  }
  
  #div5 {
    /*kích thước hộp bên bên ngoài cùng*/
    background-color:rgb(190, 214, 213);
    height: 600px;
    width: 280px;
    margin: auto;
  }
  #hinhtron {
  height: 100px;
  width: 100px;
    border-radius: 1000px;
    margin: auto;
    display: block;
  }
  
  #ten {
    text-align: center;
    color:red;
    margin-bottom: 0px;
  }
  
  #mst {
    text-align: center;
    color: rgb(228, 9, 9);
    margin: 5px 0;
  }
  
  #tencty{
    text-align: center;
    color: black;
    margin-bottom: 0px;
  
  }
  
  #diachi{
    text-align: center;
    color: black;
  }
  
  #lienhe{
    background-color: rgb(22, 19, 226);
    height: 50px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center
  }
  
  #trangweb{
    background-color: rgb(168, 11, 121);
    height: 50px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    text-align: center
  }
  